body{

margin:0;
font-family:Arial;
background:#0b1a33;
color:white;

}

#menu{

width:200px;
height:100vh;
background:#111;

position:fixed;
left:0;
top:0;

padding:10px;

}

#menu button{

width:100%;
margin:5px 0;
padding:10px;

}

#main{

margin-left:210px;
padding:20px;

}

input{

padding:10px;
margin:5px;

}

button{

cursor:pointer;

}
