body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}


/* ===== CENTER LOGIN ===== */

.loginBox{

width:320px;
background:#1e293b;
padding:25px;
border-radius:12px;
text-align:center;
box-shadow:0 0 15px black;

position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);

}


.loginBox input{

width:100%;
margin:8px 0;
padding:10px;
border:none;
border-radius:6px;

}


button{

padding:10px;
width:100%;
border:none;
background:#3b82f6;
color:white;
cursor:pointer;
border-radius:6px;

}

button:hover{

background:#2563eb;

}


/* ===== SIDEBAR ===== */

.sidebar{

width:220px;
height:100vh;
background:#020617;
position:fixed;
padding:10px;

}


.sidebar h2{

color:#38bdf8;

}


.sidebar button{

width:100%;
margin:5px 0;
background:#1e293b;

}


.sidebar button:hover{

background:#334155;

}


/* ===== HEADER ===== */

.header{

margin-left:220px;
background:#020617;
padding:10px;
border-bottom:1px solid #334155;

}


/* ===== CONTENT ===== */

.content{

margin-left:220px;
padding:20px;

}


h1{

color:#38bdf8;

}
