body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}


/* ===== LOGIN ===== */

.loginBox{

width:320px;
margin:120px auto;
background:#1e293b;
padding:25px;
border-radius:12px;
text-align:center;
box-shadow:0 0 15px black;

}

.loginBox h2{

margin-bottom:10px;

}

.loginBox input{

width:100%;
margin:6px 0;
padding:8px;
border:none;
border-radius:5px;

}

button{

padding:8px;
width:100%;
border:none;
background:#3b82f6;
color:white;
cursor:pointer;
border-radius:5px;

}

button:hover{

background:#2563eb;

}


/* ===== SIDEBAR ===== */

.sidebar{

width:220px;
height:100vh;
background:#020617;
position:fixed;
padding:10px;
box-shadow:2px 0 5px black;

}

.sidebar h2{

color:#38bdf8;
text-align:center;

}

.sidebar button{

width:100%;
margin:5px 0;
background:#1e293b;

}

.sidebar button:hover{

background:#334155;

}


/* ===== HEADER ===== */

.header{

margin-left:220px;
background:#020617;
padding:10px;
font-weight:bold;
border-bottom:1px solid #334155;

}


/* ===== CONTENT ===== */

.content{

margin-left:220px;
padding:20px;

}


/* ===== TITLE ===== */

h1{

color:#38bdf8;

}
